@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'Balsamiq Sans', cursive;
}

body {
background-color: black;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
color: white;
}

.name {
    font-weight: bold;
}

.about-text {
    color: #7ED10B;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
                        /*vh stands for viewpoint height, calculate  the height of viewport, stretch sceen ikut ketinggian, and mmake it centre*/
    display: flex;
    align-items: center; /*copy from https://stackoverflow.com/questions/22196587/how-to-vertically-center-a-container-in-bootstrap */
  }